.card {
	width: 20rem;
	height: 14rem;
	padding: 2em 3em;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.card-result {
	width: 20rem;
	padding: 2em 3em;
	border-radius: 5px;
	background-color: black;
	color: white;
}

@media (max-width: 500px) {
	.card {
		width: 17rem;
	}
}
